# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.TextAdventure-329869.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\mingu\TextAdventure-329869\.idea\.idea.TextAdventure-329869\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
